[submodule "C++ Engine/libs/glm"]
	path = C++ Engine/libs/glm
	url = https://github.com/g-truc/glm
[submodule "C++ Engine/libs/stb"]
	path = C++ Engine/libs/stb
	url = https://github.com/nothings/stb
[submodule "C++ Engine/libs/imgui"]
	path = C++ Engine/libs/imgui
	url = https://github.com/ocornut/imgui/
[submodule "C++ Engine/libs/glad"]
	path = C++ Engine/libs/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "C++ Engine/libs/assimp"]
	path = C++ Engine/libs/assimp
	url = https://github.com/assimp/assimp
[submodule "C++ Engine/libs/meshoptimizer"]
	path = C++ Engine/libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "C++ Engine/libs/glfw"]
	path = C++ Engine/libs/glfw
	url = https://github.com/glfw/glfw.git
