[submodule "Engine 2: Electric boogaloo/project/depends/glfw"]
	path = Engine 2: Electric boogaloo/project/depends/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine 2: Electric boogaloo/project/depends/imgui"]
	path = Engine 2: Electric boogaloo/project/depends/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine 2: Electric boogaloo/project/depends/bullet3"]
	path = Engine 2: Electric boogaloo/project/depends/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Engine 2: Electric boogaloo/project/depends/glm"]
	path = Engine 2: Electric boogaloo/project/depends/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine 2: Electric boogaloo/project/depends/glad"]
	path = Engine 2: Electric boogaloo/project/depends/glad
	url = https://github.com/Dav1dde/glad
[submodule "C++ Engine/include/glm"]
	path = C++ Engine/include/glm
	url = https://github.com/g-truc/glm
[submodule "C++ Engine/include/stb"]
	path = C++ Engine/include/stb
	url = https://github.com/nothings/stb
[submodule "C++ Engine/include/imgui"]
	path = C++ Engine/include/imgui
	url = https://github.com/ocornut/imgui/
[submodule "C++ Engine/include/glad"]
	path = C++ Engine/include/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "C++ Engine/include/assimp"]
	path = C++ Engine/include/assimp
	url = https://github.com/assimp/assimp
[submodule "C++ Engine/include/meshoptimizer"]
	path = C++ Engine/include/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
