[Desktop Entry]
Icon=application-vnd.tcpdump.pcap
Name=renderdoc_debug.cap
Type=Link
URL[$e]=file:$HOME/Documents/Brock/Gamers/Java Brock 2021 Project/C++ Engine/renderdoc_debug.cap
X-KDE-LastOpenedWith=qrenderdoc
