<?xml version="1.0" encoding="UTF-8"?>
 <configuration status="warn" packages="com.trapdoor.engine.tools">
  <appenders>
	<DebugConsoleAppender name="DebugConsoleAppender">
		<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%-5p]: (%F:%L): %msg%n"/>
	</DebugConsoleAppender>
   <Console name="Console" target="SYSTEM_OUT">
    <PatternLayout pattern="%highlight{[%d{HH:mm:ss.SSS}] [%t/%-5p]: (%F:%L): %msg%n}{FATAL=bg_red, ERROR=red, WARN=bright yellow, INFO=bright green, DEBUG=cyan, TRACE=white}"/>
   </Console>
   <RollingFile name="RollingFileAppender" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
        <PatternLayout>
            <Pattern>[%d{HH:mm:ss.SSS}] [%t/%-5p]: (%F:%L): %msg%n</Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy />
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="50 MB" />
        </Policies>
        <DefaultRolloverStrategy max="20" />
    </RollingFile>
  </appenders>
 <loggers>
  <Root level="all">
   <AppenderRef ref="Console"/>
   <AppenderRef ref="RollingFileAppender"/>
  </Root>
 </loggers>
</configuration> 
